ALLOWED_ORIGIN=https://yummiee.yummiee-api.workers.dev
CLERK_PUBLISHABLE_KEY=pk_test_bWVhc3VyZWQtaG9uZXliZWUtNzE1OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_ISSUER=https://measured-honeybee-7159.clerk.accounts.dev
CLERK_JWKS_URL=https://measured-honeybee-7159.clerk.accounts.dev/.well-known/jwks.json
